@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 99%;

  /* Raw Color Palette */
  --brand-600: #bbcb4b;
  --brand-500: #cddf52;
  --brand-400: #e4eea1;
  --brand-300: #f6f9e0;
  --error-900: #441504;
  --error-600: #c53030;
  --error-500: #ed7070;
  --error-400: #ffb3b3;
  --error-300: #ffe3e3;
  --warning-600: #e34510;
  --warning-500: #ff8061;
  --warning-400: #ffbc9f;
  --warning-300: #ffede5;
  --success-600: #388e3c;
  --success-500: #00b460;
  --success-400: #81c784;
  --success-300: #effaf1;
  --success-100: #effcef;
  --info-600: #52bfdc;
  --info-500: #5fddff;
  --info-400: #b7f0ff;
  --info-300: #d7f6ff;
  --neutral-900: #000000;
  --neutral-800: #121211;
  --neutral-700: #1b1b1a;
  --neutral-600: #30302f;
  --neutral-500: #666564;
  --neutral-400: #a3a2a0;
  --neutral-300: #e0dfdc;
  --neutral-200: #f0eeeb;
  --neutral-100: #f5f3f0;
  --neutral-50: #ffffff;

  /* Theme Variables - Light Mode */
  --radius: 0.625rem;
  --background: var(--neutral-100);
  --foreground: var(--neutral-900);
  --card: var(--neutral-50);
  --card-foreground: var(--neutral-900);
  --popover: var(--neutral-50);
  --popover-foreground: var(--neutral-900);
  --primary: var(--neutral-900);
  --primary-foreground: var(--neutral-50);
  --secondary: var(--neutral-500);
  --secondary-foreground: var(--neutral-900);
  --muted: var(--neutral-200);
  --muted-foreground: var(--neutral-500);
  --accent: var(--neutral-200);
  --accent-foreground: var(--neutral-900);
  --destructive: var(--error-500);
  --destructive-foreground: var(--neutral-50);
  --destructive-hover: var(--error-900);
  --warning: var(--warning-500);
  --warning-foreground: var(--neutral-50);
  --info: var(--info-500);
  --info-foreground: var(--neutral-50);
  --primary-hover: var(--brand-600);
  --border: var(--neutral-300);
  --input: var(--neutral-200);
  --ring: var(--brand-500);
  --chart-1: #08be3c;
  --chart-2: #5fd0ff;
  --chart-3: #ff8d61;
  --chart-4: #ac2c3b;
  --chart-5: #12ff80;
  --sidebar: var(--neutral-50);
  --sidebar-foreground: var(--neutral-900);
  --sidebar-primary: var(--neutral-900);
  --sidebar-primary-foreground: var(--neutral-50);
  --sidebar-accent: var(--neutral-200);
  --sidebar-accent-foreground: var(--neutral-900);
  --sidebar-border: var(--neutral-200);
  --sidebar-ring: var(--brand-500);
  --color-brand: var(--brand-500);
  --color-button-bg: var(--brand-500);
  --color-button-bg-hover: var(--brand-600);
  --color-link-active: var(--neutral-900);
  --color-link-secondary: var(--neutral-500);
  --color-icon-card-bg: var(--neutral-200);
  --color-icon-card: var(--neutral-500);
  --color-success: var(--success-600);
  --color-warning: var(--warning-600);
  --dialog-background: var(--neutral-50);
  --alert-background: var(--neutral-200);
  --switch-unchecked-bg: var(--neutral-300);
  --switch-unchecked-thumb: var(--neutral-50);
  --switch-checked-bg: var(--brand-500);
  --switch-checked-thumb: var(--neutral-50);
  --checkbox-unchecked-bg: var(--neutral-50);
  --checkbox-unchecked-border: var(--neutral-400);
  --checkbox-checked-bg: var(--brand-500);
  --checkbox-checked-border: var(--brand-500);
  --checkbox-checked-foreground: var(--neutral-900);
  --color-icon-background: var(--neutral-300);
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-brand: var(--brand-500);
  --color-button-black: var(--neutral-900);
  --color-button-bg: var(--color-button-bg);
  --color-button-bg-hover: var(--color-button-bg-hover);
  --color-link-active: var(--color-link-active);
  --color-link-secondary: var(--color-link-secondary);
  --color-icon-card-bg: var(--color-icon-card-bg);
  --color-icon-card: var(--color-icon-card);
  --color-success: var(--color-success);
  --color-dialog-background: var(--dialog-background);
  --color-alert-background: var(--alert-background);
  --color-switch-unchecked-bg: var(--switch-unchecked-bg);
  --color-switch-unchecked-thumb: var(--switch-unchecked-thumb);
  --color-switch-checked-bg: var(--switch-checked-bg);
  --color-switch-checked-thumb: var(--switch-checked-thumb);
  --color-checkbox-unchecked-bg: var(--checkbox-unchecked-bg);
  --color-checkbox-unchecked-border: var(--checkbox-unchecked-border);
  --color-checkbox-checked-bg: var(--checkbox-checked-bg);
  --color-checkbox-checked-border: var(--checkbox-checked-border);
  --color-checkbox-checked-foreground: var(--checkbox-checked-foreground);
  --color-icon-background: var(--color-icon-background);
}

.dark {
  /* Theme Variables - Dark Mode */
  --background: var(--neutral-800);
  --foreground: var(--neutral-50);
  --card: var(--neutral-700);
  --card-foreground: var(--neutral-50);
  --popover: var(--neutral-800);
  --popover-foreground: var(--neutral-50);
  --primary: var(--neutral-50);
  --primary-foreground: var(--neutral-50);
  --secondary: var(--neutral-400);
  --secondary-foreground: var(--neutral-50);
  --muted: var(--neutral-800);
  --muted-foreground: var(--neutral-400);
  --accent: var(--neutral-800);
  --accent-foreground: var(--neutral-50);
  --destructive: var(--error-500);
  --destructive-foreground: var(--neutral-50);
  --destructive-hover: var(--error-900);
  --warning: var(--warning-500);
  --warning-foreground: var(--neutral-50);
  --info: var(--info-500);
  --info-foreground: var(--neutral-50);
  --primary-hover: var(--brand-400);
  --border: var(--neutral-600);
  --input: var(--neutral-700);
  --ring: var(--brand-500);
  --chart-1: #08be3c;
  --chart-2: #5fd0ff;
  --chart-3: #ff8d61;
  --chart-4: #ac2c3b;
  --chart-5: #12ff80;
  --sidebar: var(--neutral-800);
  --sidebar-foreground: var(--neutral-50);
  --sidebar-primary: var(--neutral-900);
  --sidebar-primary-foreground: var(--neutral-50);
  --sidebar-accent: var(--neutral-800);
  --sidebar-accent-foreground: var(--neutral-50);
  --sidebar-border: var(--neutral-700);
  --sidebar-ring: var(--brand-500);
  --color-brand: var(--brand-500);
  --color-button-bg: var(--brand-500);
  --color-button-bg-hover: var(--brand-600);
  --color-link-active: var(--brand-500);
  --color-link-secondary: var(--neutral-50);
  --color-icon-card-bg: var(--neutral-600);
  --color-icon-card: var(--neutral-400);
  --color-success: var(--success-600);
  --color-warning: var(--warning-600);
  --dialog-background: var(--neutral-900);
  --alert-background: var(--neutral-600);
  --switch-unchecked-bg: var(--neutral-600);
  --switch-unchecked-thumb: var(--neutral-50);
  --switch-checked-bg: var(--brand-500);
  --switch-checked-thumb: var(--neutral-900);
  --checkbox-unchecked-bg: var(--neutral-700);
  --checkbox-unchecked-border: var(--neutral-500);
  --checkbox-checked-bg: var(--brand-500);
  --checkbox-checked-border: var(--brand-500);
  --checkbox-checked-foreground: var(--neutral-900);
  --color-icon-background: var(--neutral-500);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Custom animations */
@keyframes breathing {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.15);
    opacity: 1;
  }
}

.animate-breathing {
  animation: breathing 2s ease-in-out infinite;
}
